In [2]:
! pip install smartmoneyconcepts

Collecting smartmoneyconcepts
  Downloading smartmoneyconcepts-0.0.21-py3-none-any.whl.metadata (7.6 kB)
Collecting pandas==2.0.2 (from smartmoneyconcepts)
  Downloading pandas-2.0.2-cp38-cp38-win_amd64.whl.metadata (18 kB)
Collecting numpy==1.24.3 (from smartmoneyconcepts)
  Downloading numpy-1.24.3-cp38-cp38-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saidj\onedrive\documentos\projects\forex_ml_bot\forex_ml_bot\mtvenv\lib\site-packages (from pandas==2.0.2->smartmoneyconcepts) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\saidj\onedrive\documentos\projects\forex_ml_bot\forex_ml_bot\mtvenv\lib\site-packages (from pandas==2.0.2->smartmoneyconcepts) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\saidj\onedrive\documentos\projects\forex_ml_bot\forex_ml_bot\mtvenv\lib\site-packages (from pandas==2.0.2->smartmoneyconcepts) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\saidj\onedrive\documentos\projects\forex_ml_bot\forex_ml_bot\mtvenv\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.0.2->smartmoneyconcepts) (1.16.0)
Downloading smartmoneyconcepts-0.0.21-py3-none-any.whl (11 kB)
Downloading numpy-1.24.3-cp38-cp38-win_amd64.whl (14.9 MB)
   ---------------------------------------- 0.0/14.9 MB ? eta -:--:--
   -- ------------------------------------- 0.8/14.9 MB 5.6 MB/s eta 0:00:03
   ---- ----------------------------------- 1.8/14.9 MB 5.0 MB/s eta 0:00:03
   ------- -------------------------------- 2.9/14.9 MB 4.9 MB/s eta 0:00:03
   ----------- ---------------------------- 4.2/14.9 MB 6.3 MB/s eta 0:00:02
   ----------- ---------------------------- 4.2/14.9 MB 6.3 MB/s eta 0:00:02
   ------------------- -------------------- 7.1/14.9 MB 5.7 MB/s eta 0:00:02
   --------------------------------- ------ 12.6/14.9 MB 8.7 MB/s eta 0:00:01
   ---------------------------------------- 14.9/14.9 MB 9.6 MB/s eta 0:00:00
Downloading pandas-2.0.2-cp38-cp38-win_amd64.whl (10.8 MB)
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
   ------------ --------------------------- 3.4/10.8 MB 16.7 MB/s eta 0:00:01
   ---------------------------------------- 10.8/10.8 MB 28.0 MB/s eta 0:00:00
Installing collected packages: numpy, pandas, smartmoneyconcepts
  Attempting uninstall: numpy
    Found existing installation: numpy 1.24.4
    Uninstalling numpy-1.24.4:
      Successfully uninstalled numpy-1.24.4
  Attempting uninstall: pandas
    Found existing installation: pandas 1.2.5
    Uninstalling pandas-1.2.5:
      Successfully uninstalled pandas-1.2.5
Successfully installed numpy-1.24.3 pandas-2.0.2 smartmoneyconcepts-0.0.21

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\SaidJ\OneDrive\Documentos\projects\forex_ml_bot\forex_ml_bot\mtvenv\Lib\site-packages\~umpy'.
  You can safely remove it manually.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import MetaTrader5 as mt5
from smartmoneyconcepts import smc

In [2]:
import pytz
from datetime import datetime
import pandas as pd


timezone = pytz.timezone("Etc/UTC")

if not mt5.initialize():
    raise Exception("initialize() failed, error code =", mt5.last_error())

date_from_get_data = datetime(2021, 10, 1, tzinfo=timezone)
date_to_get_data = datetime(2024, 9, 1, tzinfo=timezone)

# Obtener las tasas histÃ³ricas
rates = mt5.copy_rates_range('EURUSD', mt5.TIMEFRAME_H4, date_from_get_data, date_to_get_data)

# Crear DataFrame con las tasas
df = pd.DataFrame(rates)

# Convertir el tiempo de segundos a formato datetime
df['time'] = pd.to_datetime(df['time'], unit='s')

# Renombrar columnas para el ticker principal
df = df.rename(columns={
    'time': 'Date',
    'open': 'Open',
    'high': 'High',
    'low': 'Low',
    'close': 'Close',
    'tick_volume': 'Volume'
}).set_index('Date')

df.index = df.index.tz_localize('UTC').tz_convert('UTC')

mt5.shutdown()

df

,Open,High,Low,Close,Volume,spread,real_volume
Date,,,,,,,
2021-10-01 00:00:00+00:00,1.15740,1.15819,1.15652,1.15652,3704,0,0
2021-10-01 04:00:00+00:00,1.15652,1.15821,1.15630,1.15806,7291,0,0
2021-10-01 08:00:00+00:00,1.15806,1.15912,1.15745,1.15786,14990,0,0
2021-10-01 12:00:00+00:00,1.15786,1.16070,1.15725,1.16038,14825,0,0
2021-10-01 16:00:00+00:00,1.16038,1.16075,1.15838,1.15968,21509,0,0
...,...,...,...,...,...,...,...
2024-08-30 04:00:00+00:00,1.10805,1.10821,1.10697,1.10740,6224,2,0
2024-08-30 08:00:00+00:00,1.10740,1.10951,1.10735,1.10749,14795,2,0
2024-08-30 12:00:00+00:00,1.10748,1.10882,1.10577,1.10679,19775,2,0
2024-08-30 16:00:00+00:00,1.10680,1.10801,1.10438,1.10495,30887,2,0
2024-08-30 20:00:00+00:00,1.10496,1.10567,1.10473,1.10484,11781,2,0

In [3]:
fvg = smc.fvg(df, join_consecutive=False)
fvg

      FVG      Top   Bottom  MitigatedIndex
0     NaN      NaN      NaN             NaN
1     NaN      NaN      NaN             NaN
2     NaN      NaN      NaN             NaN
3     NaN      NaN      NaN             NaN
4     NaN      NaN      NaN             NaN
...   ...      ...      ...             ...
4543  NaN      NaN      NaN             NaN
4544  NaN      NaN      NaN             NaN
4545  NaN      NaN      NaN             NaN
4546 -1.0  1.10577  1.10567             0.0
4547  NaN      NaN      NaN             NaN

[4548 rows x 4 columns]

In [4]:
fvg = fvg[~fvg['FVG'].isna()]
fvg

      FVG      Top   Bottom  MitigatedIndex
8     1.0  1.16079  1.16040            13.0
12   -1.0  1.16161  1.16134            56.0
13   -1.0  1.16105  1.16051            15.0
19   -1.0  1.15920  1.15901            53.0
20   -1.0  1.15833  1.15542            22.0
...   ...      ...      ...             ...
4531 -1.0  1.11744  1.11607             0.0
4532 -1.0  1.11582  1.11456             0.0
4536  1.0  1.11272  1.11200          4538.0
4538 -1.0  1.11272  1.11000             0.0
4546 -1.0  1.10577  1.10567             0.0

[979 rows x 4 columns]

In [7]:
fvg[fvg['Top'] > fvg['Bottom']]

      FVG      Top   Bottom  MitigatedIndex
8     1.0  1.16079  1.16040            13.0
12   -1.0  1.16161  1.16134            56.0
13   -1.0  1.16105  1.16051            15.0
19   -1.0  1.15920  1.15901            53.0
20   -1.0  1.15833  1.15542            22.0
...   ...      ...      ...             ...
4531 -1.0  1.11744  1.11607             0.0
4532 -1.0  1.11582  1.11456             0.0
4536  1.0  1.11272  1.11200          4538.0
4538 -1.0  1.11272  1.11000             0.0
4546 -1.0  1.10577  1.10567             0.0

[979 rows x 4 columns]

In [23]:
swing_highs_lows = smc.swing_highs_lows(df, swing_length = 10)
swing_highs_lows[~swing_highs_lows['HighLow'].isna()]

      HighLow    Level
0         1.0  1.15819
21       -1.0  1.15292
38        1.0  1.15867
47       -1.0  1.15242
57        1.0  1.16245
...       ...      ...
4480     -1.0  1.09495
4505      1.0  1.11740
4510     -1.0  1.10980
4518      1.0  1.12016
4547     -1.0  1.10473

[258 rows x 2 columns]

In [ ]:

bos_choch = smc.bos_choch(df, swing_highs_lows, close_break = True)
bos_choch

      BOS  CHOCH  Level  BrokenIndex
0     NaN    NaN    NaN          NaN
1     NaN    NaN    NaN          NaN
2     NaN    NaN    NaN          NaN
3     NaN    NaN    NaN          NaN
4     NaN    NaN    NaN          NaN
...   ...    ...    ...          ...
4543  NaN    NaN    NaN          NaN
4544  NaN    NaN    NaN          NaN
4545  NaN    NaN    NaN          NaN
4546  NaN    NaN    NaN          NaN
4547  NaN    NaN    NaN          NaN

[4548 rows x 4 columns]

In [15]:
bos_choch[~bos_choch['BOS'].isna()]

      BOS  CHOCH    Level  BrokenIndex
57    1.0    NaN  1.16245         72.0
124  -1.0    NaN  1.15353        153.0
153  -1.0    NaN  1.15134        172.0
199  -1.0    NaN  1.12632        220.0
363   1.0    NaN  1.13435        383.0
...   ...    ...      ...          ...
4312  1.0    NaN  1.08450       4328.0
4382 -1.0    NaN  1.08256       4401.0
4431  1.0    NaN  1.10089       4472.0
4474  1.0    NaN  1.10474       4492.0
4505  1.0    NaN  1.11740       4517.0

[65 rows x 4 columns]

In [16]:
bos_choch[~bos_choch['CHOCH'].isna()]

      BOS  CHOCH    Level  BrokenIndex
21    NaN   -1.0  1.15292         46.0
38    NaN    1.0  1.15867         53.0
68    NaN   -1.0  1.15717        124.0
293   NaN    1.0  1.13549        327.0
476   NaN    1.0  1.13689        538.0
554   NaN   -1.0  1.13963        571.0
751   NaN    1.0  1.10379        765.0
758   NaN   -1.0  1.09448        796.0
838   NaN   -1.0  1.07576        878.0
911   NaN   -1.0  1.04903        956.0
925   NaN    1.0  1.06418        998.0
1011  NaN   -1.0  1.06423       1042.0
1066  NaN   -1.0  1.06521       1079.0
1130  NaN   -1.0  1.04691       1162.0
1269  NaN    1.0  1.02578       1300.0
1324  NaN   -1.0  1.01416       1364.0
1432  NaN    1.0  1.00791       1472.0
1916  NaN    1.0  1.06593       1928.0
1919  NaN   -1.0  1.05731       1958.0
1949  NaN    1.0  1.07131       1983.0
2050  NaN   -1.0  1.08351       2077.0
2060  NaN    1.0  1.09294       2087.0
2078  NaN   -1.0  1.08020       2099.0
2130  NaN   -1.0  1.06554       2154.0
2213  NaN   -1.0  1.05765       2230.0
2224  NaN    1.0  1.06944       2251.0
2263  NaN    1.0  1.07597       2289.0
2680  NaN   -1.0  1.08922       2696.0
2734  NaN    1.0  1.09337       2758.0
2890  NaN   -1.0  1.09289       2913.0
2948  NaN    1.0  1.09303       2988.0
2968  NaN   -1.0  1.07656       3008.0
3117  NaN    1.0  1.06169       3160.0
3249  NaN    1.0  1.06748       3267.0
3292  NaN    1.0  1.07254       3309.0
3346  NaN   -1.0  1.08523       3394.0
3372  NaN    1.0  1.10171       3477.0
3538  NaN   -1.0  1.09103       3566.0
3578  NaN    1.0  1.09066       3595.0
3598  NaN   -1.0  1.08215       3621.0
3680  NaN    1.0  1.08056       3717.0
3867  NaN    1.0  1.08643       3909.0
3916  NaN   -1.0  1.07913       3933.0
4017  NaN    1.0  1.07354       4034.0
4121  NaN   -1.0  1.08047       4145.0
4137  NaN    1.0  1.08890       4163.0
4252  NaN    1.0  1.07463       4279.0
4399  NaN    1.0  1.08700       4425.0
4510  NaN   -1.0  1.10980       4538.0

In [17]:
ob = smc.ob(df, swing_highs_lows, close_mitigation = False)
ob

      OB  Top  Bottom  OBVolume  MitigatedIndex  Percentage
0    NaN  NaN     NaN       NaN             NaN         NaN
1    NaN  NaN     NaN       NaN             NaN         NaN
2    NaN  NaN     NaN       NaN             NaN         NaN
3    NaN  NaN     NaN       NaN             NaN         NaN
4    NaN  NaN     NaN       NaN             NaN         NaN
...   ..  ...     ...       ...             ...         ...
4543 NaN  NaN     NaN       NaN             NaN         NaN
4544 NaN  NaN     NaN       NaN             NaN         NaN
4545 NaN  NaN     NaN       NaN             NaN         NaN
4546 NaN  NaN     NaN       NaN             NaN         NaN
4547 NaN  NaN     NaN       NaN             NaN         NaN

[4548 rows x 6 columns]

In [18]:
ob[~ob['OB'].isna()]

       OB      Top   Bottom  OBVolume  MitigatedIndex  Percentage
118  -1.0  1.16920  1.16243   60976.0             0.0        34.0
144  -1.0  1.16162  1.16030   39686.0             0.0        15.0
166  -1.0  1.16086  1.15714   57537.0             0.0        32.0
568  -1.0  1.14948  1.13749   14912.0             0.0        87.0
593  -1.0  1.13958  1.13703   26082.0             0.0        27.0
1373 -1.0  1.02028  1.01630   40543.0          1739.0        42.0
1653  1.0  0.97775  0.97047   65729.0             0.0        47.0
1707  1.0  0.97704  0.97301   55334.0             0.0        21.0
1822  1.0  1.03995  1.02902   86499.0             0.0        42.0
1850  1.0  1.04842  1.04431   51944.0             0.0        19.0
3130  1.0  1.04857  1.04482  103907.0             0.0        48.0
3257  1.0  1.05756  1.05168   41536.0             0.0        21.0
3973  1.0  1.06431  1.06103   53288.0             0.0        44.0
4022  1.0  1.06705  1.06493   21061.0             0.0        25.0
4264  1.0  1.06957  1.06659   24205.0             0.0        54.0
4287  1.0  1.07335  1.07098   42928.0             0.0        34.0
4399 -1.0  1.08700  1.08582   36023.0          4425.0        25.0
4419  1.0  1.08084  1.07774   61091.0             0.0        19.0
4450  1.0  1.09148  1.08813   29640.0             0.0        28.0
4480  1.0  1.09895  1.09495   49953.0             0.0        45.0
4510  1.0  1.11415  1.10980   64528.0          4537.0        25.0
4518 -1.0  1.12016  1.11862   30688.0             0.0        14.0

In [21]:
liq = smc.liquidity(df, swing_highs_lows, range_percent = 0.01)
liq[~liq['Liquidity'].isna()]

      Liquidity     Level     End   Swept
21         -1.0  1.152552   153.0   172.0
144         1.0  1.161240   166.0     0.0
209         1.0  1.137050   425.0   441.0
285        -1.0  1.122773   336.0   506.0
380        -1.0  1.127693   430.0   503.0
451         1.0  1.148713   568.0     0.0
512        -1.0  1.111395   628.0   646.0
635         1.0  1.127485  2798.0     0.0
687         1.0  1.112925   719.0   770.0
734        -1.0  1.095285   758.0   796.0
819         1.0  1.093145  2060.0  2087.0
897        -1.0  1.048085   911.0   956.0
964        -1.0  1.035445  1103.0  1184.0
1011       -1.0  1.064053  1066.0  1079.0
1031        1.0  1.078030  1077.0  2001.0
1109        1.0  1.060360  1839.0  1875.0
1257        1.0  1.027650  1302.0  1341.0
1312       -1.0  1.012893  1365.0  1378.0
1373        1.0  1.020025  1478.0  1742.0
1394       -1.0  0.990735  1418.0  1448.0
1414        1.0  1.008445  1432.0  1472.0
1755        1.0  1.048930  1809.0  1827.0
1850       -1.0  1.044565  3130.0     0.0
1900       -1.0  1.057450  1919.0  1958.0
1977       -1.0  1.048495  3107.0  3127.0
2110       -1.0  1.066220  2130.0  2155.0
2122        1.0  1.079750  2139.0  2297.0
2162        1.0  1.069677  2224.0  2251.0
2192       -1.0  1.052433  2266.0  3106.0
2300        1.0  1.092800  2332.0  2350.0
2374       -1.0  1.083825  2520.0  2540.0
2396        1.0  1.108767  2477.0  2776.0
2596       -1.0  1.063340  3053.0  3094.0
2606        1.0  1.078295  2632.0  2648.0
2619       -1.0  1.067645  3021.0  3052.0
2697       -1.0  1.083950  2937.0  2954.0
2841        1.0  1.114445  3494.0  4505.0
2870       -1.0  1.092050  2890.0  2914.0
2948        1.0  1.093785  2986.0  3336.0
3037        1.0  1.076250  3272.0  3309.0
3076        1.0  1.073105  3292.0  3309.0
3178       -1.0  1.050605  3257.0     0.0
3196       -1.0  1.052235  3231.0     0.0
3218        1.0  1.068440  3249.0  3267.0
3285       -1.0  1.065765  3296.0  3945.0
3417       -1.0  1.072290  3657.0  3688.0
3526        1.0  1.099673  4431.0  4472.0
3644        1.0  1.089275  3728.0  3790.0
3760       -1.0  1.079875  3857.0  3883.0
3815        1.0  1.095137  4354.0  4431.0
3867        1.0  1.087530  3928.0  4085.0
3959       -1.0  1.060570  3973.0     0.0
4004        1.0  1.074410  4017.0  4035.0
4022       -1.0  1.066093  4264.0     0.0
4059       -1.0  1.072165  4198.0  4214.0
4086        1.0  1.089728  4179.0  4341.0
4121       -1.0  1.079645  4148.0  4188.0
4204        1.0  1.084860  4312.0  4329.0
4228        1.0  1.076137  4280.0  4294.0
4318       -1.0  1.081545  4382.0  4418.0

In [11]:
smc.sessions(df, 'New York', time_zone = "UTC")

      Active     High      Low
0          0  0.00000  0.00000
1          0  0.00000  0.00000
2          0  0.00000  0.00000
3          0  0.00000  0.00000
4          1  1.16075  1.15838
...      ...      ...      ...
4543       0  0.00000  0.00000
4544       0  0.00000  0.00000
4545       0  0.00000  0.00000
4546       1  1.10801  1.10438
4547       1  1.10801  1.10438

[4548 rows x 3 columns]